
.depicter-2-element-12 .depicter-arrow-icon{
	fill:#000;
}
.depicter-2-element-13 .depicter-bullet-item{
	background-color:rgba(0,0,0,0.5);
	border-radius:5px 5px 5px 5px ;
	margin-right:5px;
	width:9px;
	height:9px;
}
.depicter-2-element-13 .depicter-bullet-item.depicter-bullet-active{
	background-color:rgba(0,0,0,1);
}
.depicter-revert .depicter-2-element-14{
	background-color:transparent;
}
.depicter-2-element-14 .depicter-arrow-icon{
	fill:#000000;
}
.depicter-revert .depicter-2-element-5{
	font-size:48px;
	text-align:center;
	color:#000000;
	font-family:"Space Grotesk";
	font-weight:400;
	line-height:116%;
	text-transform:capitalize;
	transform:rotate(0deg) scaleX(1) scaleY(1);
	background-color:transparent;
}
.depicter-revert .depicter-2-element-4{
	font-size:18px;
	font-family:"Space Grotesk";
	font-weight:400;
	text-transform:uppercase;
	transform:rotate(0deg) scaleX(1) scaleY(1);
	background-color:transparent;
}
.depicter-revert .depicter-2-element-3{
	background-color:transparent;
}
.depicter-revert .depicter-2-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-2-element-10{
	font-size:18px;
	font-family:"Space Grotesk";
	font-weight:400;
	text-transform:uppercase;
	transform:rotate(0deg) scaleX(1) scaleY(1);
	background-color:transparent;
}
.depicter-revert .depicter-2-element-9{
	font-size:48px;
	text-align:center;
	color:#000000;
	font-family:"Eczar";
	font-weight:500;
	line-height:116%;
	text-transform:uppercase;
	transform:rotate(0deg) scaleX(1) scaleY(1);
	background-color:transparent;
}
.depicter-revert .depicter-2-element-8{
	transform:rotate(0deg) scaleX(1) scaleY(1);
	background-color:#222222;
}
.depicter-revert .depicter-2-element-7{
	background-color:transparent;
}
.depicter-revert .depicter-2-section-6 .depicter-section-background{
	background-color:#FFFFFF;
}

