
.depicter-4-element-26 .depicter-arrow-icon{
	fill:#000000;
}
.depicter-4-element-27 .depicter-bullet-item{
	background-color:rgba(0,0,0,0.5);
	border-radius:5px 5px 5px 5px ;
	margin-right:5px;
	width:9px;
	height:9px;
}
.depicter-4-element-27 .depicter-bullet-item.depicter-bullet-active{
	background-color:rgba(0,0,0,1);
}
.depicter-revert .depicter-4-element-28{
	background-color:transparent;
}
.depicter-4-element-28 .depicter-arrow-icon{
	fill:#000000;
}
.depicter-revert .depicter-4-element-13{
	font-size:23px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-12{
	font-size:23px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-9{
	font-size:35px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-20{
	font-size:23px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-19{
	font-size:34px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-section-14 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-25{
	font-size:23px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-24{
	font-size:34px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-section-21 .depicter-section-background{
	background-color:#FFFFFF;
}

